#header {
    background: #333333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #FFFFFF;
  }